@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Itim";
    font-weight: normal;
    src: url("@/assets/fonts/Itim/Itim-Regular.ttf");
}

body {
    font-family: "Itim";
}

/* fix for 'downloadable font: rejected by sanitizer' */
input[type="password"] {
    font-family: "Verdana", sans-serif;
    font-size: 16px;
}
